.header{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.footer{
    font-size: 9px;
}
.rfq-container{
    display: table;
    width: 15%;
}
.rfq{
    text-align: center;
    font-family: 'Space Mono', monospace;
    display: table-cell;
    padding: 10;
    background-color: gray;
}
.quote-container{
    display: table;
    width: 15%; 
    height: 50px;
}
.quote{
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    display: table-cell;
    width: 50%;
    border: 1px solid black;
    font-size: 23px;
    background-color: lightgray;
}
.rfq button{
    background-color: teal;
    color: white;
    font-family: 'Space Mono', monospace;
    border-radius: 20px;
    border: 0
}
.action{
    text-align: center;
    font-family: 'Space Mono', monospace;
    display: table-cell;
    padding: 10;
    background-color: gray;
}
.action-container{
    display: table;
    width: 15%;
}
.action button{
    background-color: teal;
    color: white;
    font-family: 'Space Mono', monospace;
    border-radius: 20px;
    border: 0
}